<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3 col-md-2">
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-default" (click)="musicService.prevSong()">
            <span class="glyphicon glyphicon-backward"></span>
          </button>
          <button type="button" class="btn btn-default" (click)="musicService.play()" *ngIf="!musicService.isPlaying()">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <button type="button" class="btn btn-default" (click)="musicService.pause()" *ngIf="musicService.isPlaying()">
            <span class="glyphicon glyphicon-pause"></span>
          </button>
          <button type="button" class="btn btn-default" (click)="musicService.nextSong()">
            <span class="glyphicon glyphicon-forward"></span>
          </button>
        </div>
      </div>
      <div class="col-xs-6 col-sm-9 col-md-10">
        <moon-progress [time]="time" [duration]="duration" (changeTime)="onChangeTime($event)"></moon-progress>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-1 time">
        {{ time | minutes }}
      </div>
      <div class="col-xs-offset-8 col-xs-2 col-sm-offset-10 col-sm-1 time">
        {{ duration | minutes }}
      </div>
    </div>
  </div>
</div>
