.song-container {
  width: 100%;
  background-color: #f5f4f6;
  border-radius: 15px 15px 15px 15px;
  border: 0 solid #000000;
  padding: 10px;
  margin: 10px;
}

.cover {
  width: 64px;
  height: 64px;
}
